{# NOTE (SAVIZ):
  Please note that I am not using Prettier formatting for this file, as the output is genuinely poor.
#}

{% macro generateNavigationLink(navigationObject, currentUrl, class) %}
{%- set isActive = currentUrl === navigationObject.href -%}
<a class="{{ class }}{% if isActive %} active{% endif %}"
   href="{{ navigationObject.href }}"
   {%- if isActive %} aria-current="page"{% endif %}>{{ navigationObject.title }}</a>
{%- endmacro %}
