:root {
  --lspace-1: 5em;
  --lspace-2: 6.25em;
  --lspace-3: 7.5em;
  --lspace-4: 8.75em;
  --lspace-5: 10em;

  --sz-1: 100px;
  --sz-2: 150px;
  --sz-3: 200px;
  --sz-4: 250px;
  --sz-5: 300px;
}

/* Large margin (lm) -------------------------------------------------------- */

/* Large margin - all sides */
.lm-1 {
  margin: var(--lspace-1) !important;
}
.lm-2 {
  margin: var(--lspace-2) !important;
}
.lm-3 {
  margin: var(--lspace-3) !important;
}
.lm-4 {
  margin: var(--lspace-4) !important;
}
.lm-5 {
  margin: var(--lspace-5) !important;
}

/* Large margin - left + right */
.lmx-1 {
  margin-left: var(--lspace-1) !important;
  margin-right: var(--lspace-1) !important;
}
.lmx-2 {
  margin-left: var(--lspace-2) !important;
  margin-right: var(--lspace-2) !important;
}
.lmx-3 {
  margin-left: var(--lspace-3) !important;
  margin-right: var(--lspace-3) !important;
}
.lmx-4 {
  margin-left: var(--lspace-4) !important;
  margin-right: var(--lspace-4) !important;
}
.lmx-5 {
  margin-left: var(--lspace-5) !important;
  margin-right: var(--lspace-5) !important;
}

/* Large margin - top + bottom */
.lmy-1 {
  margin-top: var(--lspace-1) !important;
  margin-bottom: var(--lspace-1) !important;
}
.lmy-2 {
  margin-top: var(--lspace-2) !important;
  margin-bottom: var(--lspace-2) !important;
}
.lmy-3 {
  margin-top: var(--lspace-3) !important;
  margin-bottom: var(--lspace-3) !important;
}
.lmy-4 {
  margin-top: var(--lspace-4) !important;
  margin-bottom: var(--lspace-4) !important;
}
.lmy-5 {
  margin-top: var(--lspace-5) !important;
  margin-bottom: var(--lspace-5) !important;
}

/* Large margin - top */
.lmt-1 {
  margin-top: var(--lspace-1) !important;
}
.lmt-2 {
  margin-top: var(--lspace-2) !important;
}
.lmt-3 {
  margin-top: var(--lspace-3) !important;
}
.lmt-4 {
  margin-top: var(--lspace-4) !important;
}
.lmt-5 {
  margin-top: var(--lspace-5) !important;
}

/* Large margin - right (end) */
.lme-1 {
  margin-right: var(--lspace-1) !important;
}
.lme-2 {
  margin-right: var(--lspace-2) !important;
}
.lme-3 {
  margin-right: var(--lspace-3) !important;
}
.lme-4 {
  margin-right: var(--lspace-4) !important;
}
.lme-5 {
  margin-right: var(--lspace-5) !important;
}

/* Large margin - bottom */
.lmb-1 {
  margin-bottom: var(--lspace-1) !important;
}
.lmb-2 {
  margin-bottom: var(--lspace-2) !important;
}
.lmb-3 {
  margin-bottom: var(--lspace-3) !important;
}
.lmb-4 {
  margin-bottom: var(--lspace-4) !important;
}
.lmb-5 {
  margin-bottom: var(--lspace-5) !important;
}

/* Large margin - left (start) */
.lms-1 {
  margin-left: var(--lspace-1) !important;
}
.lms-2 {
  margin-left: var(--lspace-2) !important;
}
.lms-3 {
  margin-left: var(--lspace-3) !important;
}
.lms-4 {
  margin-left: var(--lspace-4) !important;
}
.lms-5 {
  margin-left: var(--lspace-5) !important;
}

/* Large padding (lp) ------------------------------------------------------- */

/* Large padding - all sides */
.lp-1 {
  padding: var(--lspace-1) !important;
}
.lp-2 {
  padding: var(--lspace-2) !important;
}
.lp-3 {
  padding: var(--lspace-3) !important;
}
.lp-4 {
  padding: var(--lspace-4) !important;
}
.lp-5 {
  padding: var(--lspace-5) !important;
}

/* Large padding - left + right */
.lpx-1 {
  padding-left: var(--lspace-1) !important;
  padding-right: var(--lspace-1) !important;
}
.lpx-2 {
  padding-left: var(--lspace-2) !important;
  padding-right: var(--lspace-2) !important;
}
.lpx-3 {
  padding-left: var(--lspace-3) !important;
  padding-right: var(--lspace-3) !important;
}
.lpx-4 {
  padding-left: var(--lspace-4) !important;
  padding-right: var(--lspace-4) !important;
}
.lpx-5 {
  padding-left: var(--lspace-5) !important;
  padding-right: var(--lspace-5) !important;
}

/* Large padding - top + bottom */
.lpy-1 {
  padding-top: var(--lspace-1) !important;
  padding-bottom: var(--lspace-1) !important;
}
.lpy-2 {
  padding-top: var(--lspace-2) !important;
  padding-bottom: var(--lspace-2) !important;
}
.lpy-3 {
  padding-top: var(--lspace-3) !important;
  padding-bottom: var(--lspace-3) !important;
}
.lpy-4 {
  padding-top: var(--lspace-4) !important;
  padding-bottom: var(--lspace-4) !important;
}
.lpy-5 {
  padding-top: var(--lspace-5) !important;
  padding-bottom: var(--lspace-5) !important;
}

/* Large padding - top */
.lpt-1 {
  padding-top: var(--lspace-1) !important;
}
.lpt-2 {
  padding-top: var(--lspace-2) !important;
}
.lpt-3 {
  padding-top: var(--lspace-3) !important;
}
.lpt-4 {
  padding-top: var(--lspace-4) !important;
}
.lpt-5 {
  padding-top: var(--lspace-5) !important;
}

/* Large padding - right (end) */
.lpe-1 {
  padding-right: var(--lspace-1) !important;
}
.lpe-2 {
  padding-right: var(--lspace-2) !important;
}
.lpe-3 {
  padding-right: var(--lspace-3) !important;
}
.lpe-4 {
  padding-right: var(--lspace-4) !important;
}
.lpe-5 {
  padding-right: var(--lspace-5) !important;
}

/* Large padding - bottom */
.lpb-1 {
  padding-bottom: var(--lspace-1) !important;
}
.lpb-2 {
  padding-bottom: var(--lspace-2) !important;
}
.lpb-3 {
  padding-bottom: var(--lspace-3) !important;
}
.lpb-4 {
  padding-bottom: var(--lspace-4) !important;
}
.lpb-5 {
  padding-bottom: var(--lspace-5) !important;
}

/* Large padding - left (start) */
.lps-1 {
  padding-left: var(--lspace-1) !important;
}
.lps-2 {
  padding-left: var(--lspace-2) !important;
}
.lps-3 {
  padding-left: var(--lspace-3) !important;
}
.lps-4 {
  padding-left: var(--lspace-4) !important;
}
.lps-5 {
  padding-left: var(--lspace-5) !important;
}

/* size (sz) ---------------------------------------------------------------- */

.sz-1 {
  width: var(--sz-1) !important;
}
.sz-2 {
  width: var(--sz-2) !important;
}
.sz-3 {
  width: var(--sz-3) !important;
}
.sz-4 {
  width: var(--sz-4) !important;
}
.sz-5 {
  width: var(--sz-5) !important;
}

/* Styles ------------------------------------------------------------------- */

.body-wrapper {
  display: grid;
  min-height: 100vh; /* A fallback for browsers without dvh support */
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

.profile-img {
  width: 100%;
  max-width: clamp(200px, 45vw, 350px);
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center 20%;
  border-radius: 50%;
}
