.body-wrapper {
  display: grid;
  min-height: 100vh; /* A fallback for browsers without dvh support */
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}
