---
layout: 'layouts/base.njk'
title: 'About'
---

<!-- Creator section ---------------------------------------------------------->
<section class='container-fluid mt-5'>
  <div class='container'>
    <div class='row justify-content-center align-items-center'>
      <div class='col-lg-8 text-center'>
        <img
          class='img-fluid mb-5 profile-img'
          width='500'
          src='/assets/site/graphics/portfolio_photo.jpg'
          alt='Profile Picture'
        />
        <h1 class='mb-3'>Meet the Creator!</h1>
        <p class='lead mb-5 text-mute'>
          Greetings! My name is Saviz Mohammadi and I am the creator of the UsurperCS platform. If you would like to review my complete qualifications, please contact me using the button below and I will gladly provide my full Resume and CV. Alternatively, continue reading to learn more about my background, skills, projects, experiences, and the motivation behind this platform.
        </p>
        <a class='btn btn-lg btn-primary rounded-pill sz-3' href='/contact/'>
          Send Request
        </a>
      </div>
    </div>
  </div>
</section>
<!-- /Creator section --------------------------------------------------------->
