---
layout: 'layouts/base.njk'
title: 'About'
---

<!-- Creator section ---------------------------------------------------------->
<section class='container-fluid mt-5'>
  <div class='container'>
    <div class='row justify-content-center align-items-center'>
      <div class='col-lg-8 text-center'>
        <img
          class='img-fluid mb-5 profile-img'
          width='500'
          src='/assets/site/graphics/portfolio_photo.jpg'
          alt='Profile Picture'
        />
        <h1 class='mb-3'>Meet the Creator!</h1>
        <p class='lead mb-5 text-mute'>
          Greetings! My name is Saviz Mohammadi and I am the creator of the UsurperCS platform. If you would like to review my complete qualifications, please contact me using the button below and I will gladly provide my full Resume and CV. Alternatively, continue reading to learn more about my background, skills, projects, experiences, and the motivation behind this platform.
        </p>
        <a class='btn btn-lg btn-primary rounded-pill sz-3' href='/contact/'>
          Send Request
        </a>
      </div>
    </div>
  </div>
</section>
<!-- /Creator section --------------------------------------------------------->

<!-- Platform section --------------------------------------------------------->
<section class='container-fluid lmt-5'>
  <div class='container'>
    <div class='row justify-content-center align-items-center'>
      <div class='col-lg-8 text-center'>
        <h1 class='mb-3'>Platform FAQ</h1>
        <p class='lead mb-5 text-mute'>
          You probably have a lot of questions about the platform. Below are answers to some of the most frequently asked questions.
        </p>

        <div id='accordion-0' class='accordion'>
          <!-- Accordion-item-0 ----------------------------------------------->
          <div class='accordion-item'>
            <h2 class='accordion-header'>
              <button
                class='accordion-button collapsed'
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#collapseZero'
                aria-expanded='false'
                aria-controls='collapseZero'
              >
                Why create UsurperCS?
              </button>
            </h2>
            <div
              id='collapseZero'
              class='collapse accordion-collapse'
              data-bs-parent='#accordion-0'
            >
              <div class='accordion-body'>
                I created this platform with the hope of building a space where I can teach about various technologies related to computers, sharing the knowledge I've gained through my degree and work experience. I might not be the best, but I am passionate about my work.
              </div>
            </div>
          </div>

          <!-- Accordion-item-1 ----------------------------------------------->
          <div class='accordion-item'>
            <h2 class='accordion-header'>
              <button
                class='accordion-button collapsed'
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#collapseOne'
                aria-expanded='false'
                aria-controls='collapseOne'
              >
                What topics are taught on this platform?
              </button>
            </h2>
            <div
              id='collapseOne'
              class='collapse accordion-collapse'
              data-bs-parent='#accordion-0'
            >
              <div class='accordion-body'>
                This platform aims to cover a broad range of computer-related topics, including but not limited to programming, web development, data science, operating systems and much more. If it relates to computers and technology, it is likely covered here (or will be covered at some point). How much is covered and how quickly depends entirely on the efforts of myself and those of the community.
              </div>
            </div>
          </div>

          <!-- Accordion-item-2 ----------------------------------------------->
          <div class='accordion-item'>
            <h2 class='accordion-header'>
              <button
                class='accordion-button collapsed'
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#collapseTwo'
                aria-expanded='false'
                aria-controls='collapseTwo'
              >
                Is the platform free?
              </button>
            </h2>
            <div
              id='collapseTwo'
              class='collapse accordion-collapse'
              data-bs-parent='#accordion-0'
            >
              <div class='accordion-body'>
                Yes! The platform is free, and anyone is welcome to use it to learn. There's no need to create an account, make a payment, or complete any steps before you can start using it. The platform does accept donations and support from the community, but these are entirely optional and are not the foundation of the platform.
              </div>
            </div>
          </div>

          <!-- Accordion-item-3 ----------------------------------------------->
          <div class='accordion-item'>
            <h2 class='accordion-header'>
              <button
                class='accordion-button collapsed'
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#collapseThree'
                aria-expanded='false'
                aria-controls='collapseThree'
              >
                What can I do to support the platform?
              </button>
            </h2>
            <div
              id='collapseThree'
              class='collapse accordion-collapse'
              data-bs-parent='#accordion-0'
            >
              <div class='accordion-body'>
                Any form of support is greatly appreciated: sharing the platform with others and engaging with the videos and educational content, submitting suggestions or corrections, or contributing through a small but meaningful donation. Every contribution, large or small, is valued.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Platform section -------------------------------------------------------->
