---
layout: 'layouts/base.njk'
scriptPaths:
  - /js/listeners.js
title: 'Home'
---

<!-- About section ------------------------------------------------------------>
<section class='container-fluid mt-5'>
  <div class='container'>
    <div class='row justify-content-center align-items-center'>
      <div class='col-lg-8 text-center'>
        <img
          class='img-fluid mb-5'
          width='500'
          src='/assets/site/graphics/unDraw/questions.svg'
          alt='unDraw SVG'
        />
        <h1 class='mb-3'>What is UsurperCS?</h1>
        <p class='lead mb-5 text-mute'>
          UsurperCS is a free online tutorial site that aims to cover a variety of computer-related topics and technologies. The platform is designed to offer a clean, simple, and intuitive tutorial-based learning experience. To learn more about the platform and its creator, please click the button below.
        </p>
        <a class='btn btn-lg btn-primary rounded-pill sz-3' href='/about/'>
          Learn More
        </a>
      </div>
    </div>
  </div>
</section>
<!-- /About section ----------------------------------------------------------->

<!-- Tutorial section --------------------------------------------------------->
<section class='container-fluid lmt-5'>
  <div class='container'>
    <div class='row justify-content-center align-items-center'>
      <div class='col-lg-8 text-center'>
        <img
          class='img-fluid mb-5'
          width='500'
          src='/assets/site/graphics/unDraw/programming.svg'
          alt='unDraw SVG'
        />
        <h1 class='mb-3'>Learn from Tutorials!</h1>
        <p class='lead mb-5 text-mute'>
          UsurperCS offers a wide range of tutorials and resources for learning many technologies. Tutorials are designed with beginners in mind, offering clear and intuitive explanations. You can explore the full list of available tutorials by clicking the button below.
        </p>
        <a class='btn btn-lg btn-primary rounded-pill sz-3' href='/tutorials/'>
          View Tutorials
        </a>
      </div>
    </div>
  </div>
</section>
<!-- /Tutorial section -------------------------------------------------------->

<!-- Contact section ---------------------------------------------------------->
<section class='container-fluid lmt-5'>
  <div class='container'>
    <div class='row justify-content-center align-items-center'>
      <div class='col-lg-8 text-center'>
        <img
          class='img-fluid mb-5'
          width='500'
          src='/assets/site/graphics/unDraw/compose-email.svg'
          alt='unDraw SVG'
        />
        <h1 class='mb-3'>Let's Connect!</h1>
        <p class='lead mb-5 text-mute'>
          The creator of this platform is always open to suggestions, concerns, and questions that may benefit you and the platform. If you'd like to get in touch, simply click the button below to be redirected to the contact page.
        </p>
        <a class='btn btn-lg btn-primary rounded-pill sz-3' href='/contact/'>
          Reach Out
        </a>
      </div>
    </div>
  </div>
</section>
<!-- /Contact section --------------------------------------------------------->
