---
layout: 'layouts/base.njk'
title: 'Home'
---

<!-- About section ------------------------------------------------------------>
<section class='container-fluid mt-5'>
  <div class='container'>
    <div class='row justify-content-center align-items-center'>
      <div class='col-lg-8 text-center'>
        <img
          class='img-fluid mb-5'
          width='500'
          src='/assets/site/graphics/unDraw/questions.svg'
          alt='unDraw SVG'
        />
        <h1 class='mb-3'>What is UsurperCS?</h1>
        <p class='lead mb-5 text-mute'>
          UsurperCS is a free online tutorial site that aims to cover a variety of computer-related topics and technologies. The platform is designed to offer a clean, simple, and intuitive tutorial-based learning experience. To learn more about the platform and its creator, please click the button below.
        </p>
        <a class='btn btn-lg btn-primary rounded-pill sz-3' href='/about/'>
          Learn More
        </a>
      </div>
    </div>
  </div>
</section>
<!-- /About section ----------------------------------------------------------->
