---
layout: 'layouts/base.njk'
scriptPaths:
  - /js/listeners.js
title: 'Home'
---

<!-- About section ------------------------------------------------------------>
<section class='container-fluid mt-5'>
  <div class='container'>
    <div class='row justify-content-center align-items-center'>
      <div class='col-lg-8 text-center'>
        <img
          class='img-fluid mb-5'
          width='500'
          src='/assets/site/graphics/unDraw/questions.svg'
          alt='unDraw SVG'
        />
        <h1 class='mb-3'>What is UsurperCS?</h1>
        <p class='lead mb-5 text-mute'>
          UsurperCS is a free online tutorial site that aims to cover a variety of computer-related topics and technologies. The platform is designed to offer a clean, simple, and intuitive tutorial-based learning experience. To learn more about the platform and its creator, please click the button below.
        </p>
        <a class='btn btn-lg btn-primary rounded-pill sz-3' href='/about/'>
          Learn More
        </a>
      </div>
    </div>
  </div>
</section>
<!-- /About section ----------------------------------------------------------->

<!-- Tutorial section --------------------------------------------------------->
<section class='container-fluid lmt-5'>
  <div class='container'>
    <div class='row justify-content-center align-items-center'>
      <div class='col-lg-8 text-center'>
        <img
          class='img-fluid mb-5'
          width='500'
          src='/assets/site/graphics/unDraw/programming.svg'
          alt='unDraw SVG'
        />
        <h1 class='mb-3'>Learn from Tutorials!</h1>
        <p class='lead mb-5 text-mute'>
          UsurperCS offers a wide range of tutorials and resources for learning many technologies. Tutorials are designed with beginners in mind, offering clear and intuitive explanations. You can explore the full list of available tutorials by clicking the button below.
        </p>
        <a class='btn btn-lg btn-primary rounded-pill sz-3' href='/tutorials/'>
          View Tutorials
        </a>
      </div>
    </div>
  </div>
</section>
<!-- /Tutorial section -------------------------------------------------------->

<!-- Contact section ---------------------------------------------------------->
<section class='container-fluid lmt-5'>
  <div class='container'>
    <div class='row justify-content-center align-items-center'>
      <div class='col-lg-8 text-center'>
        <img
          class='img-fluid mb-5'
          width='500'
          src='/assets/site/graphics/unDraw/compose-email.svg'
          alt='unDraw SVG'
        />
        <h1 class='mb-3'>Let's Connect!</h1>
        <p class='lead mb-5 text-mute'>
          The creator of this platform is always open to suggestions, concerns, and questions that may benefit you and the platform. If you'd like to get in touch, simply click the button below to be redirected to the contact page.
        </p>
        <a class='btn btn-lg btn-primary rounded-pill sz-3' href='/contact/'>
          Reach Out
        </a>
      </div>
    </div>
  </div>
</section>
<!-- /Contact section --------------------------------------------------------->

<!-- Support section ---------------------------------------------------------->
<section class='container-fluid lmt-5'>
  <div class='container'>
    <div class='row justify-content-center align-items-center'>
      <div class='col-lg-8 text-center'>
        <h1 class='mb-3'>Support the Platform!</h1>
        <p class='lead mb-5 text-mute'>
          This platform is free and accessible to everyone. If you find value in what this platform offers and would like to help it thrive, please consider supporting it through the methods down below.
        </p>
      </div>
    </div>
    <!-- Cards ---------------------------------------------------------------->
    <div class='row g-5 justify-content-center align-items-stretch'>
      <!-- Share -------------------------------------------------------------->
      <div class='col-lg-4 col-12'>
        <div class='card h-100 text-center bg-light-subtle rounded-0'>
          <div class='card-body d-flex flex-column'>
            <div class='h1'>
              <i class='bi bi-share-fill'></i>
            </div>
            <h5 class='card-title'>SHARE</h5>
            <p class='card-text mt-3'>
              Spreading the word is one of the best ways to support this platform. Please share the link with others so they can discover it too.
            </p>
            <button
              class='btn btn-primary mx-auto mt-auto rounded-pill sz-1 share-btn'
              type='button'
            >
              Share
            </button>
          </div>
        </div>
      </div>
      <!-- Donate ------------------------------------------------------------->
      <div class='col-lg-4 col-12'>
        <div class='card h-100 text-center bg-light-subtle rounded-0'>
          <div class='card-body d-flex flex-column'>
            <div class='h1'>
              <i class='bi bi-heart-fill'></i>
            </div>
            <h5 class='card-title'>DONATE</h5>
            <p class='card-text mt-3'>
              Consider supporting the platform with a small but meaningful donation. Your generosity is greatly appreciated.
            </p>
            {# TODO (SAVIZ): Update the link to the donation platform. #}
            <a
              class='btn btn-primary mx-auto mt-auto rounded-pill sz-1'
              href='#'
            >
              Donate
            </a>
          </div>
        </div>
      </div>
      <!-- Suggest ------------------------------------------------------------>
      <div class='col-lg-4 col-12'>
        <div class='card h-100 text-center bg-light-subtle rounded-0'>
          <div class='card-body d-flex flex-column'>
            <div class='h1'>
              <i class='bi bi-lightbulb-fill'></i>
            </div>
            <h5 class='card-title'>SUGGEST</h5>
            <p class='card-text mt-3'>
              Have a creative idea, feature request, or suggestion that could help improve the platform? Make sure to contact the creator!
            </p>
            <a
              class='btn btn-primary mx-auto mt-auto rounded-pill sz-1'
              href='/contact/'
            >
              Suggest
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Cards --------------------------------------------------------------->
  </div>
</section>
<!-- /Support section --------------------------------------------------------->
